:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 10rem;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-logo {
  height: 10rem;
  position: fixed;
  top: 0;
  left: 0;
}

.header-nav {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
}

.stars {
  max-width: 128rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.stars-row {
  display: flex;
  border-top: solid 1px #808080;
  padding-block: 1.5rem;
  height: 34rem;
}

.stars-row--inverse {
  flex-direction: row-reverse;
}

.stars-img-container {
  width: 40%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.stars-img-container .stars-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  margin-top: -50%;
  left: 0;
}

.stars-img-container .stars-img img {
  width: 100%;
  height: 120%;
  object-fit: cover;
}

.stars-text-container {
  width: 60%;
  height: 100%;
  background: white;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  z-index: 2;
}

.stars-row--inverse .stars-text-container {
  align-items: flex-end;
  text-align: right;
}

.stars-name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.02em;
  line-height: 1;
}

.stars-job {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.02em;
}

.stars-quote {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 351;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #000; 
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50px, -50%);
}

.stars-row--inverse .stars-quote {
  left: auto;
  right: 0;
  transform: translate(50px, -50%);
}

.exclusion-text {
  background: white;
  filter: invert(1);
  mix-blend-mode: exclusion;
}

.star-4 .stars-img-container img {
  object-position: 50% 20%;
}

.star-5 .stars-img-container img {
  object-position: 50% 0%;
}