:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) ease;
}

#preloader.hidden {
  transform: translateY(-100%);
}

#preloader img {
  max-width: 30rem;
  filter: invert(1);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  display: none;
}

.header {
  width: 100%;
  height: 10rem;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-logo {
  height: 12rem;
  position: fixed;
  top: 0;
  left: 0;
}

.header-nav {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
}

.hero {
  width: 100%;
  height: 65vh;
  display: grid;
  place-content: center;
}

.hero p {
  font-size: 7.5rem;
  max-width: 17ch;
  text-align: center;
  line-height: 1;
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
  text-transform: uppercase;
}

.stars {
  max-width: 128rem;
  margin-block: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.stars-row {
  display: flex;
  padding-block: 1.5rem;
  height: 34rem;
  position: relative;
  transition: all 0.4s ease-in-out; 
}

/* .stars-row:hover {
  opacity: 0.75;
} */

.stars-row::after {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: var(--pseudo-width, 0%); 
  height: 1px;
  background-color: #808080;
}

.stars-tagline {
  position: absolute;
  width: 30rem;
  top: -3rem;
  left: -11rem;
  transform: rotate(-20deg);
  z-index: 3;
  opacity: 0;
  transition: all 0.25s ease;
  pointer-events: none;
}

.stars-row--inverse {
  flex-direction: row-reverse;
}

.stars-row--inverse .stars-tagline {
  left: auto;
  right: -11rem;
  transform: rotate(20deg);
}

.stars-img-container {
  width: 40%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.stars-img-container .stars-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  margin-top: -50%;
  left: 0;
}

.stars-img-container .stars-img img {
  width: 100%;
  height: 120%;
  object-fit: cover;
  transition: 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.stars-row:hover .stars-img img {
  transform: scale(1.1);
}

.stars-row:hover .stars-tagline {
  opacity: 1;
}

.stars-text-container {
  width: 60%;
  height: 100%;
  background: white;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  z-index: 2;
}

.stars-row--inverse .stars-text-container {
  align-items: flex-end;
  text-align: right;
}

.stars-name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.02em;
  line-height: 1;
}

.stars-job {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.02em;
}

.stars-quote {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #000; 
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50px, -50%);
}

.splitting .word {
  overflow: hidden;
}

.stars-quote .char {
  display: inline-block;
}

.stars-quote .char > span {
  display: inline-block;
}

.stars-row--inverse .stars-quote {
  left: auto;
  right: 0;
  transform: translate(50px, -50%);
}

.exclusion-text {
  background: white;
  filter: invert(1);
  mix-blend-mode: exclusion;
}

.star-4 .stars-img-container img {
  object-position: 50% 20%;
}

.star-5 .stars-img-container img {
  object-position: 50% 0%;
}